<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/img/favicon.ico') }}">
        <title>{% block title %}Manga paradise{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}"/>
        {% endblock %}
    </head>
    <body>
    {% set route = app.request.attributes.get('_route') %}

    <div class="wrapper">

        <!-- Page Content Holder -->
        <div id="content">
            {% block body %}{% endblock %}
        </div>
    </div>

    {% block javascripts %}
        <script src="{{ asset('build/app.js') }}"></script>
    {% endblock %}
    </body>
</html>

